<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.stadiumtracker">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".VisitViewActivity"></activity>
        <activity android:name=".VisitListActivity" />
        <activity
            android:name=".StadiumViewActivity"
            android:parentActivityName=".StadiumsListActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.stadiumtracker.StadiumsListActivity" />
        </activity>
        <activity
            android:name=".StadiumsListActivity"
            android:parentActivityName=".MainMenuActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.stadiumtracker.MainMenuActivity" />
        </activity>
        <activity
            android:name=".RecordActivity"
            android:parentActivityName=".MainMenuActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.stadiumtracker.MainMenuActivity" />
        </activity>
        <activity
            android:name=".FriendsListActivity"
            android:parentActivityName=".MainMenuActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.stadiumtracker.MainMenuActivity" />
        </activity>
        <activity
            android:name=".CompareStadiumsActivity"
            android:parentActivityName=".FriendViewActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.stadiumtracker.FriendViewActivity" />
        </activity>
        <activity
            android:name=".CompareVisitsActivity"
            android:parentActivityName=".FriendViewActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.stadiumtracker.FriendViewActivity" />
        </activity>
        <activity
            android:name=".FriendViewActivity"
            android:parentActivityName=".FriendsListActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.stadiumtracker.FriendsListActivity" />
        </activity>
        <activity
            android:name=".MainMenuActivity"
            android:parentActivityName=".LoginActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.stadiumtracker.LoginActivity" />
        </activity>
        <activity
            android:name=".SignUpActivity"
            android:parentActivityName=".LoginActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.stadiumtracker.LoginActivity" />
        </activity>
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>